
*{
  background-color: #cc3300;
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 30px;
}
.wrapper{
  max-width: 1000px;
  margin: 0 auto;
  height: 3000px;
  overflow: scroll;
}

body{width:100%; max-width:900px; margin:100px auto;
  }

  .container{opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 5000ms infinite linear;
  display: inline-block;
}
/* Note: this css is not required */
.container2{ opacity: .4;
position: absolute;
top: 30%;
left: 50%;
width: 500px;
height: 500px;
margin-left: -250px;
margin-top: -250px;
transform-origin: 50% 48%;
border-radius: 43%;
animation: drift 2000ms infinite linear;
display: inline-block;
}
/*.container:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}*/

/*.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}*/


.content .line {
   right: 0;
}
.content {
  width: 100%;
  height: 200px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
  background: white;
}
/*.content .line {
  height: 2px;
  background: black;
  position: absolute;
  top: 10px;
  right: 0;
  -webkit-animation: dude .75s 1 forwards;
  animation: dude .75s 1 forwards;
}
@-webkit-keyframes dude {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes dude {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}*/


@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
@keyframes drift2 {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}


#here{margin-top: 1000px;background: navy;}

/*.menu-button{
  position:relative;
  display:block;
  width:50px; height:50px;
  margin:100px auto;
cursor:pointer;
}*/
h1{
text-align: center;
color: white;}
p{color: white;}
/*.menu-button p{
  font-family:'Barrio', cursive;
  text-transform:uppercase;
  color:white;
  font-weight:bold;
  letter-spacing:2px;
  font-size:80%;
  text-align: center;
  margin:0;
}

.menu-button hr{
  position:relative;
  border:none;
  height:0; width:100%;
  margin-bottom:5px;
  border-bottom:5px solid white;
  -webkit-transition:border-color ease-in-out .2s;
  -moz-transition:all ease-in-out .2s;
  transition:all ease-in-out .2s;
}

.menu-button:hover > hr{border-color:#1c2023;}

.menu-button.open{}

  .menu-button.open hr{border-bottom:10px solid white;}

  .menu-button.open hr:nth-child(1){
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
    top:20px;}

  .menu-button.open hr:nth-child(2),
  .menu-button.open p{opacity:0;}

  .menu-button.open hr:nth-child(3){
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
    -webkit-transition-duration:.3s;
    -moz-transition-duration:.3s;
    transition-duration:.3s;
    top:-15px;}

  .menu-button.open#example-two hr:nth-child(3){top:-20px;}*/
